/* global styling starts */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 18px;
}

h1 {
  text-align: center;
  width: fit-content;
  position: relative;
  margin: auto;
}

h1:before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: black;
}

/* global styling ends */
/* fruits-vegetables-examples styling start */
.fruits li,
.vegetables li {
  position: relative;
  margin-bottom: 30px;
}

.fruits img,
.vegetables img {
  width: 74px;
  position: absolute;
  top: -20px;
  left: 90px;
}

/* fruits-vegetables-examples styling end */
/* table styling starts */
table {
  min-width: 800px;
  margin: 20px auto;
  text-align: center;
  border-spacing: 0px;
}

table th {
  border: 1px solid black;
  border-bottom-width: 0px;
  background-color: orange;
  padding: 5px;
  font-size: 20px;
}

table td {
  border: 1px solid black;
  padding: 5px;
  font-size: 18px;
}

/* table styling ends */
/* footer styling starts */
footer p {
  text-align: center;
}

/* footer styling ends */